# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.env
.pytest_cache
.cicd
.dockerignore


# interfaces
/interfaces/chatbot-ui/*
!/interfaces/chatbot-ui/.gitkeep

/interfaces/chrome-extension/*
!/interfaces/chrome-extension/.gitkeep

/interfaces/web/*
!/interfaces/web/.gitkeep

# plugins
/plugins/cas_pipeline/*
!/plugins/cas_pipeline/.gitkeep

/plugins/cas_mural/*
!/plugins/cas_mural/.gitkeep

/plugins/madi-plg-semantic-scholar/*
!/plugins/madi-plg-semantic-scholar/.gitkeep

/plugins/visualGraph/*
!/plugins/visualGraph/.gitkeep

# Services
/api/*

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/secureLLM
/uploads
/users
/monitoring
/runner
/old_stuff


#devops
/terraform/*
cloud-sql-proxy
scratch.md

