
# API KEYS
SERPAPI_API_KEY=
OPENAI_API_KEY=
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_API_ID=

# MODEL OPTIONS
MAX_TOKENS_LLM=4000

# TESTING
DEBUG=true
VERBOSE=false

# MOCKING
NOCK_MODE=dryrun
NOCK_ALLOW_UNMOCKED=true
PROXY_PORT=8888
USE_PROXY=true

# UI OPTIONS
SOURCE_CHARS_PER_LINE=100
UI_CHARS_PER_LINE=60
BASE_PATH=http://localhost:3030/

# POSTGRES DEFAULT
POSTGRES_HOST='localhost'
POSTGRES_PORT=35432
POSTGRES_USER=unicorn_user
POSTGRES_PASSWORD=magical_password
POSTGRES_DB=rainbow_database

REDIS_HOST=localhost
REDIS_PORT=6379
