/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* 
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* 
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */
:root {
  --ifm-color-primary: #FF3962; /* Given primary color */
  --ifm-color-primary-dark: #E03556; /* Darker shade for depth */
  --ifm-color-primary-darker: #C2314A; /* Even darker for contrast */
  --ifm-color-primary-darkest: #A42D3E; /* Darkest shade for accents */
  --ifm-color-primary-light: #FF5075; /* Lighter shade for subtle backgrounds */
  --ifm-color-primary-lighter: #FF6788; /* Even lighter for hover states */
  --ifm-color-primary-lightest: #FF7E9B; /* Lightest shade for highlights */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FF3962; /* Given primary color */
  --ifm-color-primary-dark: #E03556; /* Darker shade for depth */
  --ifm-color-primary-darker: #C2314A; /* Even darker for contrast */
  --ifm-color-primary-darkest: #A42D3E; /* Darkest shade for accents */
  --ifm-color-primary-light: #FF5075; /* Lighter shade for subtle backgrounds */
  --ifm-color-primary-lighter: #FF6788; /* Even lighter for hover states */
  --ifm-color-primary-lightest: #FF7E9B; /* Lightest shade for highlights */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.navbar__title{
  font-size: 25px;
}


/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+bash+css-extras+docker+javadoclike+jsdoc+json+json5+jsonp+python+jsx+tsx+shell-session+sql+typescript+yaml */
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}


