.pro-sidebar{
    color:#ffffffa6
}
.pro-sidebar .pro-menu .pro-menu-item .pro-menu-item > .pro-inner-item > .pro-item-content{
    white-space: normal;
} 

.pro-sidebar > .pro-sidebar-inner {
    background: #110c26;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item,
.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
    background-color: #ccc0ff17;
}

.pro-inner-item:hover{
    border-left: white 4px solid;
}
.pro-inner-item{
    border-left: transparent 4px solid;
    transition-property:all;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
    color:white;
}